@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header {
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    background-color: rgb(221, 248, 220);
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
}    

    .navigation  a{
        text-decoration: none;
        color: #111111;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.1em;
        padding-left: 30px;
}
.navigation a:hover{
    color: #e4c990;
}

section{
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(photo/wall.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;


}
.main h2{
    color :rgb(245, 245, 245);
    text-align: center;
    font-size: 4.5em;
    font-weight: 600;
}
.main p{
    color:rgb(245, 245, 245);
    font-size: 1.3em;
    font-weight: 550;
    text-align: center;

}
.main-btn {
    color: #fff;
    background-color: #e4c990;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    margin-top: 20px;
    margin-left: 300px ;
}

.main-btn:hover {
    background-color: rgb(221, 248, 220);;
    color: #111111;
    transform: scale(1.1);
}

.description{
    width: 100%;
    
    display: flex;
    align-items: center;
}
.description h2{
    color: black;
    letter-spacing: 3px;
    font-size: 2.8em;
    font-weight: 800;
    text-align: center;
}
.description p{
    font-size: 1.3em;
    font-weight: 380;
    padding: 1.8rem 0;
    margin-left: 300px;

}
.menu{
    background-color: rgb(233, 255, 232);
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
}
.menu-container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}

.menu-head{
    text-align: center;
    margin-top: 30px;
}
.menu-head h2{
    font-family: var(--Kaushan);
    font-size: 2.6rem;
}

.menu-btns{
    padding: 0.6rem 0;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.menu-btn{
    font-family: var(--Inter);
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    background: none;
    border: none;
    color: #ff9505;
    display: block;
    margin: 0 1rem;
    cursor: pointer;
    outline: 0;
    transition: opacity 0.4s ease-out;
}
.menu-btn::after{
    content: "";
    display: block;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background: #ff9505;
    margin-top: 0.5rem;
    width: 0;
    transition: width 0.4s ease-out;
}
.menu-btn:hover::after{
    width: 100%;
}
.menu-btn:hover{
    opacity: 0.8;
}
.active-btn{
    color: rgb(66, 63, 63);
}
.food-items{
    margin: 2rem 0;
}
.food-item{
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    color: #000;
    margin: 0.6rem 0;
    box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.75);
    display:flex ;
    animation: fadeIn 2s;
    transition: 0.7s ease;
}


.food-img img{
    border-radius: 4px;
}
.food-content{
    padding: 1rem;
}
.food-name{
    font-family: var(--Inter);
    color: #ff9505;
    font-weight: 500;
    text-transform: capitalize;
}
.line{
    width: 100px;
    height: 3px;
    background: #ff9505;
}
.food-price{
    padding: 0.4rem 0;
    font-weight: 600;
    font-size: 1.4rem;
    opacity: 0.8;
}
.rating{
    display: flex;
    list-style: none;
}
.rating .fa-star{
    margin-right: 0.4rem;
    color: #44355b;
}
.category{
    padding-top: 0.2rem;
    font-size: 1rem;
    font-weight: 800;
    font-family: var(--Inter);
}
.category span{
    font-weight: 500;
}

@media screen and (min-width: 600px){
    .food-item{
        display: grid;
        grid-template-columns: 25% auto;
        align-items: center;
        padding: 1rem;
        column-gap: 1rem;
    }
    .food-content{
        padding: 0;
    }
}

@media screen and (min-width: 768px){
    .menu-head p{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 992px){
    .menu-head p{
        width: 50%;
    }
    .food-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.order-btn{
    color: #fff;
    background-color: #e4c990;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    margin-top: 20px;
    margin-left: 470px ;
}
    
.order-btn:hover {
    background-color: rgb(0, 0, 0);;
    color: #fffefe;
    transform: scale(1.1);
}
.footer {
    background-color:rgb(221, 248, 220) ;
    padding:1em;
    display: flex;
    justify-content: space-between;
}
.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span{
    color: black;
}
.social-icons a {
    color: black;
    font-size: 1.7em;
    padding-right: 30px;

}