@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header {
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    background-color: rgb(221, 248, 220);
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
}    

    .navigation  a{
        text-decoration: none;
        color: #111111;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.1em;
        padding-left: 30px;
}
.navigation a:hover{
    color: #e4c990;
}
.section{
    padding: 100px 100px ;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(233, 255, 232);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    


}
.title {
    display: flex;
    justify-content: center;
    color: #111111;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    margin-bottom: 25px;
}
/*.main h2{
    color :rgb(0, 0, 0);
    text-align: center;
    font-size: 4.5em;
    font-weight: 600;
}*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
} 
  
.reservation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 57%;
    left: 50%;
    transition: all 1s ease-in-out;
}
  
.reservation-form.animate {
    top: 40%;
    opacity: 1;
}
  
.reservation-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
  
.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}
  
.form-group label {
    font-size: 18px;
    margin-bottom: 10px;
}
  
.form-group input,
.form-group select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
}
  
.main-btn {
    color: #fff;
    background-color: #e4c990;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    /*margin-bottom: 20px;*/
    transition: 0.7s ease;
    margin-top: 30px;
    margin-left: 250px ;
    border: #fff;
}

.main-btn:hover {
    background-color: rgb(221, 248, 220);;
    color: #111111;
    transform: scale(1.1);
}
.footer {
    background-color:rgb(221, 248, 220) ;
    padding:1em;
    display: flex;
    justify-content: space-between;
}
.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span{
    color: black;
}
.social-icons a {
    color: black;
    font-size: 1.7em;
    padding-right: 30px;

}